<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Course Statistics</title>
</head>

<body>

<div class="container">

	<h3>Course Statistics</h3>
	<hr>

	<!-- Add a logout button -->
	<a th:href="@{/logout}"
		class="btn btn-danger btn-sm mb-3">
		LogOut
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead>	
			<tr>
				<th style="text-align:center;">Statistic</th>
				<th style="text-align:center;">Value</th>
			
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempStatistic : ${hashMap}">
			
				<td th:text="${tempStatistic.key}" />	
				<td th:text="${tempStatistic.value}" />	
				
				
			</tr>
		</tbody>		
	</table>
	<hr>
		<a th:href="@{/courses/list}">Back to Courses List</a>
</div>
	
</body>
</html>



